* {
    margin: 0;
}

.icons-container {
    display: flex;
    flex-direction: column;
}

.icon {
    width: 2rem;
    padding: 1rem;
    margin: 1.5rem 1.5rem 0rem 1.5rem;
    border: 2px solid;
    border-radius: 50%;
    background-color: white;
}

button {
    margin: 0;
    border: none;
    background-color: inherit;
    padding: 0;
    cursor: pointer;
}