* {
    margin: 0;
}

.parent-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.icons-container {
    display: flex;
    flex-direction: column;
}

.icon {
    width: 2rem;
    padding: 1rem;
    margin: 1.5rem 1.5rem 0rem 1.5rem;
    border: 2px solid;
    border-radius: 30%;
    background-color: white;
}

.icon:hover {
    background-color: #139999;
}

#button-icon {
    margin: 0;
    border: none;
    background-color: inherit;
    padding: 0;
    cursor: pointer;
}

.line {
    background-color: black;
    height: 100vh;
    width: 2px;
}